.products {
    padding-block: 20px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    row-gap: 20px;

    &__item {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        gap: 10px;

        &-image {
            width: 200px;
            height: auto;
        }

        &-title {
            font-size: 30px;
            font-weight: bold;
        }

        &-description {
            font-size: 16px;
            color: lightslategray;
            text-align: center;
        }

        &-price {
            font-size: 24px;
            color: green;
        }

        &-buttons {
            display: flex;
            gap: 10px;
            align-items: center;
            
            button {
                font-size: 16px;
                border-radius: 20px;
                outline: none;
                padding: 5px 20px;
                cursor: pointer;
                border: 2px solid black;
                transition: 0.3s opacity ease;
    
                &:hover {
                    opacity: 0.7;
                }
            }

            .add {
                background-color: bisque;
            }

            .view {
                background-color: cadetblue;
            }
        }
        
    }
}