<div class="wrapper">
    <header class="header">
        <h1 class="header__title">MFE Test</h1>
        <nav class="header__navigation">
            <ul class="list">
                <li class="list__item"><a routerLink="/">Home</a></li>
                <li class="list__item"><a routerLink="/details">Details</a></li>
            </ul>
        </nav>
    </header>
    
    <main class="content">
        <router-outlet></router-outlet>
    </main>
    
    <footer class="footer">
        
    </footer>
</div>

