.product {
    display: flex;
    gap: 40px;

    &__image {
        width: 50%;
        max-width: 600px;
        height: auto;
    }

    &__data {
        display: flex;
        flex-direction: column;
        gap: 16px;
        justify-content:  center;

        .top-section {
            display: flex;
            justify-content: space-between;
            align-items: center;

            &__title, &__price {
                font-size: 50px;
                font-weight: bold;
            }

            &__price {
                color: green;
            }
        }

        

        .description {
            font-size: 26px;
        }
    }
}